/***************************************************** Global *************************/
@import '~leaflet/dist/leaflet.css';

/***************************************************** Fonts and Typography *************************/
body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
}

/***************************************************** Header *************************/
.header {
    font-size: 7em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2vh;
    color: white;
    text-shadow: 0px -1px 18px #FFA500;
    margin-top: 50px;
}

/***************************************************** Responsive Header *************************/
@media (max-width: 768px) {
    .header {
        font-size: 3.5em;
        letter-spacing: 1vh;
        margin-top: 20px;
    }
}

/***************************************************** Main Content *************************/
.maindiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maindiv p {
    text-align: center;
    font-size: large;
    font-weight: 300;
}

/***************************************************** Main Background *************************/
#main {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(87, 82, 91, 1) 43%, rgba(255, 165, 0, 1) 100%);
    letter-spacing: 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: auto;
}

/***************************************************** Main Title *************************/
.main {
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    margin-bottom: 40px;;
}

@media (max-width: 768px) {
    .main {
        font-size: 2em;
    }
}

/***************************************************** List *************************/
ul {
    list-style-type: none;
    padding-left: 0;
}

/***************************************************** Navbar *************************/
#navbar {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    #navbar {
        font-size: smaller;
    }
}

#navbar a {
    margin: auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

#navbar a:hover {
    background-color: #333;
    color: #fff;
    text-shadow: 2px 2px 4px #FFA500;
}

.button {
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    font-weight: 500;
}

.button:hover {
    background-color: white;
    color: white;
    text-shadow: 2px 2px 4px #00ff0d;
    transform: scale(1.1);
    border: 1px solid black;
    color: black;
}

/***************************************************** Search Container *************************/
.search-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
    align-items: center;
    padding-left: 3vw;
    justify-content: center;
    height: 25vh;
    gap: 1vw;
}

.search-container input {
    align-items: baseline;
    text-align: center;
}

/***************************************************** Date Picker *************************/
.date-picker {
    grid-column: 1 / 2;
    grid-row: 1;
    justify-self: center;
}

/***************************************************** Search *************************/
.search-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-tools.button {
    margin-left: 5vw;
}


/***************************************************** Button within Search Container *************************/
.button {
    grid-column: 2 / 3;
    grid-row: 1;

}

/***************************************************** Search Display *************************/
.search-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3vw;
}

/***************************************************** Search Result *************************/
.search-result {
    padding: 10px;
}

/***************************************************** Search Container Link *************************/
.search-container a {
    color: white;
    text-shadow: 0px -1px 18px white;
    text-align: center;
}

/***************************************************** Search Container Input *************************/
.search-container input {
    height: 5vh;
    width: auto;
}

/***************************************************** Workout Map *************************/
.workoutmap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    margin: 1vw;
}

/***************************************************** Workout Details *************************/
.workout-details {
    height: 70vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@media (max-width: 768px) {
    .workout-details p:first-child {
        font-size: small;
        padding-bottom: 5vh;
    }
    .workout-details p:last-child {
        font-size: medium;
        padding-top: 5vh;
    }
}

/***************************************************** Workout List *************************/
.workout-list {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/***************************************************** Weekly Calendar *************************/
.weekly-calendar {
    margin: auto;
    height: auto;
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

@media (max-width: 768px) {
    .weekly-calendar {
        width: 60vw;
    }

    .weekly-calendar h2 {
        font-size: 1.5em;
        text-align: center;
    }
}

.weekly-calendar h2 {
    font-size: 2em;
    text-align: center;
    font-weight: 700;
}

/***************************************************** List Items *************************/
.list-items {
    display: flex;
    flex-direction: row;
}

/***************************************************** List for Weekly Calendar and Workouts *************************/
.weekly-calendar ul,
.workouts ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}

/***************************************************** Remove border from last list item *************************/
.weekly-calendar li:last-child,
.workouts li:last-child {
    border-bottom: none;
}

/***************************************************** Hover for List Items *************************/
.weekly-calendar li:hover,
.workouts li:hover {
    background-color: #bdbdbd;
}

/***************************************************** List Item *************************/
.weekly-calendar li,
.workouts li {
    width: auto;
    padding: 10px 15px;
    border-bottom: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    font-size: larger;
    font-weight: 400;
}

@media (max-width: 768px) {
    .weekly-calendar a {
        font-size: smaller;
    }
}

/***************************************************** Link for List Items *************************/
.weekly-calendar li a,
.workouts li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

/***************************************************** Hover for List Item Links *************************/
.weekly-calendar li a:hover,
.workouts li a:hover {
    color: #FFA500;
}

/***************************************************** for Specific Elements *************************/
.no-bullets span {
    font-size: 1.4em;
}

/***************************************************** Workout Link *************************/
.workout-link {
    width: 100%;
    padding-right: 50px;
    display: block;
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s;
}

/***************************************************** Hover for Workout Links *************************/
.workout-link:hover {
    color: #FFA500;
}

/***************************************************** Delete Button *************************/
.delete-button {
    border-radius: 50%;
    padding-right: 17px;
    border: 2px solid red;
    width: 24px;
    height: 24px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: right;
    cursor: pointer;
    text-align: center;
    color: red;
    transition: background-color 0.3s;
}

/***************************************************** Hover for Delete Button *************************/
.delete-button:hover {
    background-color: #ff1900;
    color: white;
}

/***************************************************** Map Container *************************/
.map-container {
    overflow: hidden;
    box-shadow: 0 0 20px 17px white;
}

/***************************************************** Workout Button Container *************************/
.workout-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px #FFA500;
    margin: auto;
}

/***************************************************** Further for Workouts Container *************************/
.workouts {
    margin: auto;
    padding: 20px;
    height: auto;
    width: 30vw;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

/***************************************************** Navbar Link *************************/
a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

/***************************************************** Footer *************************/
footer {
    padding: 10px 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15vh;
    margin-bottom: 30vh;
    gap: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

/***************************************************** Footer Image *************************/
footer img {
    width: 35px;
    margin: 40px 5px;
}

/***************************************************** Loading Text *************************/
.load {
    font-size: 3em;
    color: white;
    padding-top: 10vh;
    font-weight: bold;
    text-shadow: 0px -1px 18px #FFA500;
}