@import '~leaflet/dist/leaflet.css';

.header {
    font-size: 3.5em;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-top: 50px;
}

.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

.workout-list {
    justify-self: center;
}


#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
}


#navbar a {
    margin: 10px;
    font-size: 1em;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#navbar a:hover {
    background-color: #333;
    color: #fff;
    text-shadow: 2px 2px 4px #FFA500;
}


.button, .workout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
}

.button:hover, .workout-button:hover {
    background-color: #555;
    transform: scale(1.1);
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

.workoutmap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.workout-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

.workout-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

.weekly-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

.date-picker {
    height: 36px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.slider-thumb::before {
    position: absolute;
    content: "";
    left: 30%;
    top: 20%;
    width: 450px;
    height: 450px;
    background: #FFA500;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    z-index: -1;
}

@keyframes sliderShape{
    0%,100%{
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
}

.map-container {
    border-radius: 20px; 
    overflow: hidden; 
}

.workout-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.workouts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    justify-content: flex-start;
}

.workouts h2 {
    font-size: 2em;
}

.list-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.weekly-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    justify-content: flex-start;
}



.weekly-calendar h2 {
    font-size: 1.5em;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;

}


.weekly-calendar ul {
    width: 100%; 
    padding: 0;
    list-style-type: none; 
}


.weekly-calendar li:last-child {
    border-bottom: none; 
}

.weekly-calendar li:hover {
    background-color: #e9e9e9; 
}

.weekly-calendar li {
    display: flex; 
    align-items: center;
    justify-content: center; 
    padding: 10px 15px; 
    border-bottom: 1px solid #ddd; 
    transition: background-color 0.3s;
    font-size: 1.2em; 
}

.weekly-calendar li a {
    text-decoration: none; 
    color: black;
    transition: color 0.3s; 
}

.weekly-calendar li a:hover {
    color: #0056b3; 
}

.workout-link {
    display: block;
    font-size: 1.2em; 
    font-weight: 500;
    color: #003580; 
    text-decoration: none; 
    margin-bottom: 15px; 
    transition: color 0.3s; 
    width: 100%;
    padding-right: 50px;
}

.workout-link:hover {
    color: #FFA500;
}

.delete-button {
    display: flex;
    flex-direction: row;
    width: 24px; 
    height: 24px; 
    background-color: #e74c3c; 
    color: white; 
    text-align: center; 
    border-radius: 50%; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.delete-button:hover {
    background-color: #c0392b; 
}

.delete-button:focus {
    outline: 2px solid #555; 
}

.leaflet-container {
    height: 400px;
    width: 100%;
  }